.paddingnya {
    padding: 3px 0px 3px 0px;
}

.kolom1 {
    padding: 14px;
    width: 100%;
    height: 56px;
    background-color: transparent;
}

.tnc {
    width: 100%;
    height: 28px;
    background-color: tomato;
    border-radius: 20px;
}

.tnc2 {
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    height: auto;

}

.text-footer2 {
    text-align: center;
    font-size: 14px;
}

.text-footer {
    text-align: center;
    font-size: 14px;
}

.rowfooter {
    background-color: whitesmoke;
}

.rowfooter2 {
    background-color: rgb(241, 152, 136);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
}

.rowfooter3 {
    background-color: whitesmoke;
    text-align: center;
}

.borderradius {
    border-radius: 10px;
}

p {
    margin: 5px;
    text-align: center;
}

ul {
    text-align: left;
}

li {
    list-style-type: circle;
}